@import 'bootstrap';
@import 'font-awesome';
body {
  padding: 10px;
}

div.availableItemsContainer {
  .list-group-item {
    cursor: move;
  }
}

[ng-drag]{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
[ng-drag]{
  cursor: move;
  z-index: 1000;
}
ul.draggable-objects:after{
  display: block;
  content:"";
  clear:both;
}
.draggable-objects li{
  float:left;
  display: block;
  width: 120px;
  height:100px;
}
/*
  ng-drop directive styles
*/
[ng-drag].drag-over{
  z-index: 1000;
}
[ng-drag].dragging{
  opacity: 0.5;
}
/*
  ng-drop directive styles
*/
[ng-drop]{
  position: relative;
  z-index: 10;
}
[ng-drop].drag-enter{
  border:dashed 1px black;
  border-radius: 4px;
  z-index: 10;
}
[ng-drop] div{
  position: relative;
  z-index: 2;
}