<!--
--Author: Kovács Lajos(@diwin)
--E-mail: kovacs.lajos1218@gmail.com
--Date: 2016.06.17
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>"Priority based shopping cart"</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div ng-app="ngDragnDrop" ng-controller="dndCtrl as dnd">

    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Available Items</h3>
                    </div>
                    <div class="list-group availableItemsContainer">
                        <a href="#" class="list-group-item"  ng-repeat="item in availableItems">
                            <div class="row" ng-drag="true" ng-drag-data="item" data-allow-transform="true">
                                <div class="col-xs-2">
                                    <img ng-src="{{ item.thumbnail }}" width="50" alt="{{ item.name }} thumbnail">
                                </div>
                                <div class="col-xs-10">
                                    <h4 class="list-group-item-heading">{{ item.name }}</h4>
                                    <p class="list-group-item-text">{{ item.price }} Ft</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-shopping-cart"></i> Shopping cart</h3>
                    </div>
                    <div class="panel-body text-center" ng-hide="cartItems.length"  ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
                        <h4>Your cart is empty! Drag some items from the list!</h4>
                    </div>

                    <div class="list-group cartItemsContainer" ng-show="cartItems.length"  ng-drop="true" ng-drop-success="onDropComplete($data,$event)">
                        <a href="#" class="list-group-item" ng-repeat="cartItem in cartItems"  ng-drop="true" ng-drop-success="onFilterComplete($index,$data,$event)">
                            <div class="row"  ng-drag="true" ng-drag-data="cartItem" data-allow-transform="true">
                                <div class="col-xs-2">
                                    <img ng-src="{{ cartItem.thumbnail }}" width="50" alt="{{ cartItem.name }} thumbnail">
                                </div>
                                <div class="col-xs-10">
                                    <h4 class="list-group-item-heading">{{ cartItem.name }}</h4>
                                    <p class="list-group-item-text">Quantity: {{ cartItem.quantity}} db</p>
                                    <p class="list-group-item-text">{{ cartItem.quantity*cartItem.price }} Ft</p>

                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<script src="js/angular.min.js"></script>
<script src="js/ngDraggable.js"></script>
<script src="js/script.js"></script>

</body>
</html>